<!-- 부트스트랩 적용 -->
{% extends 'base.html'%}
{% block content %}

<div class="container my-3">
  <h1>Cafe의 메뉴입니다</h1>
  {% if product_list %}
  {% for product in product_list %}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">이름: {{product.name}}</h5>
      <p class="card-text">카테고리 :{{product.category}}</p>
      <p class="card-text">가격: {{product.price}}원</p>
      <p class="card-text">설명: {{product.description}}</p>
      <p class="card-text">사이즈: {{product.size}}</p>
      <a href="{% url 'cafe:detail' product.id %}" class="btn btn-primary">자세히</a>
    </div>
  </div>
  {% endfor %}
{% else %}
    <h4>상품이 없습니다</h3>
{%endif%}
<a href="{% url 'cafe:product_create' %}" class="btn btn-primary">상품 등록하기</a>
</div>
{% endblock %}
